<?xml version="1.0" encoding="iso-8859-1"?>
<!--comment-->
<config>
  <audio>
    <master_volume value="100"/>
  </audio>
  <input>
  </input>
  <render>
    <vsync value="0"/>
  </render>
  <textures>
    <texture_res value="1024"/>
  </textures>
  <window>
    <width value="1024"/>
    <height value="768"/>
    <scale value="1"/>
    <fullscreen value="0"/>
    <borderless value="0"/>
    <resizable value="1"/>
    <fullscreen_window value="0"/>
    <title value="XML Test"/>
  </window>
</config>